html {
    background-color: rgb(244, 244, 241);
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#vnd {
    font-size: 1.6rem;
    vertical-align: middle;
}
