.admin-header {
    display: flex;
    align-items: center;
    background-color: rgb(77, 74, 74);
}

.admin-header a {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 1.5rem;
    color: white;
}

.admin-header a:not(:last-child) {
    border: 1px solid  rgb(128, 123, 123);
    border-style: none solid none none;
}

.admin-header a:hover {
    background-color: rgb(128, 123, 123);
}
