.table-account {
    margin: 10px auto;
    width: 1260px;
    border-collapse: collapse;
}
.table-account th {
    padding: 10px 0px;
    background-color: #333;
    color: #fff;
}

.table-account td {
    padding: 5px 0px;
}

.table-account td,
th {
    text-align: center;
    border: 1px solid #c9c1c1;
}

.table-account tr:nth-child(odd) {
    background-color: gray;
    color: #fff;
}
.table-account tr:nth-child(even) {
    background-color: #fff;
}

.table-account tr:nth-child(odd) a {
    color: #fff;
}

.table-account tr:nth-child(even) a {
    color: #333;
}

.edit {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit i:hover {
    cursor: pointer;
    opacity: 0.7;
}
